// index.pug
doctype html 
html 
  head 
    style 
      include ../static/style.css 
  body 
    h1 Water Purifier,Water Softener,Water Pool, Water Cascade.

    script 
      include ../static/index.js 
            
